@font-face {
  font-family: 'Nunito';
  src: local('Nunito Light'), local('Nunito-Light'), url('assets/fonts/nunito/Nunitolight.woff2') format('woff2'), url('assets/fonts/nunito/Nunitolight.woff') format('woff'), url('assets/fonts/nunito/Nunitolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito Regular'), local('Nunito-Regular'), url('assets/fonts/nunito/Nunitoregular.woff2') format('woff2'), url('assets/fonts/nunito/Nunitoregular.woff') format('woff'), url('assets/fonts/nunito/Nunitoregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'), url('assets/fonts/nunito/Nunitosemibold.woff2') format('woff2'), url('assets/fonts/nunito/Nunitosemibold.woff') format('woff'), url('assets/fonts/nunito/Nunitosemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'), url('assets/fonts/nunito/Nunitoextrabold.woff2') format('woff2'), url('assets/fonts/nunito/Nunitoextrabold.woff') format('woff'), url('assets/fonts/nunito/Nunitoextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito Bold'), local('Nunito-Bold'), url('assets/fonts/nunito/Nunitobold.woff2') format('woff2'), url('assets/fonts/nunito/Nunitobold.woff') format('woff'), url('assets/fonts/nunito/Nunitobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
