.who-may-benefits {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 110px;
  background-image: url('../../../assets/img/bloc4/background.png');
  background-repeat: no-repeat;
  background-position: center bottom;

  .b-wrap {
    padding: 0 90px;
  }

  .blc-title {
    max-width: 700px;
    margin: 0 auto 32px;
  }

  .may-benefits {
    &-list {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    &-item {
      width: 40%;
      max-width: 438px;
      padding: 64px 0;
    }

    &-pic {
      width: 100%;
      max-width: 438px;
      margin-bottom: 64px;
      border-radius: 15px;
      box-shadow: 5px 10px 30px -8px rgba(57,55,82,0.15);
    }

    &-title {
      margin-bottom: 32px;
      font-size: 30px;
      line-height: 28px;
      font-weight: 700;
      color: $p-dark;
    }

    &-text {
      margin-bottom: 32px;
      font-size: 17px;
      font-weight: 300;
      color: $p-dark;
      line-height: 28px;
    }

    @include r-max(1380) {
      &-item {
        width: 47%;
        max-width: 100%;
      }
    }

    @include r-max(960) {
      &-item {
        padding: 30px 0;

        .may-benefits-title {
          font-size: 20px;
        }
      }
    }

    @include r-max(670) {
      &-item {
        width: 100%;
      }
    }
  }

  @include r-max(960) {
    background-image: none;

    .b-wrap {
      padding: 0 5%;
    }
  }
}
